body{
    margin:0;
    padding:0;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    /*font-family: "Hoefler Text", "Baskerville velho cara", Garamond, "Times New Roman", serif;*/
    font-size:13px;
    color:#fff;
    background:url(../images/bg.jpg);
    /* no-repeat center center fixed
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;*/
 }

/*** COMMON CSS ***/
#main{margin:0 auto; width:980px;}
img{border:0;}
ul, h1, h2, h3, h4, h5{margin:0; padding:0; line-height:normal; width:100%;}
ul li{list-style:none; float:left;}

.details_holder{ width:980px; float:left; padding:30px 0;}

/*** HEADER ****/
.header{ width:980px; float:left;}
.logo{ width:50%; float:left; margin-top:10px;}
.navigation{ width:980px; float:left; font-size:24px; text-transform:none;margin-top:2px;}
.navigation ul li{width:150px; margin:0 16px 0 0; float:left;}
.navigation ul li.nosapce{margin:0;}
.navigation ul li a{display:block; float:left; width:150px; height:35px; padding:5px 0 0 0; background:url(../images/nav.png) no-repeat 0 0; text-align:center; color:#fff; text-decoration:none;}
.navigation ul li a:hover{background:url(../images/nav-ov.png) no-repeat 0 0; text-shadow:0 0 20px #ff0018;}

.main_content{ width:728px; float:left; padding:0 27px 0 0;}
.slider{width:100%; float:left;}

.sidebar{ width:225px; float:left;}

/** background:url(../images/latestnews.png) no-repeat 0 0; **/
.latestnews{
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			width:223px; 
			height:499px;  
			float:left; 
			}

.our_game{width:100%; float:left; padding:15px 0 0 0;}
.our_game ul li{width:225px; float:left; margin:0 26px 0 0;}
.our_game ul li.nosapce{margin:0;}

/*** FOOTER ****/
.footer_holder{width:100%; float:left; background:#000; padding:20px 0;}
.footer{ width:980px; margin:0 auto;}
.footer_image{width:100%; float:left; text-align:center; padding:0 0 40px 0;overflow: hidden;}
.footer_image img{margin:0 150px;}
/** background:url(../images/footer-ico.jpg) no-repeat 40px 0; */
.footer_link{width:100%; float:left; padding:15px 0 0 0;  text-align:center; color:#666666; font-size:11px;}

/*** Feito por nois ****/
.conteudo{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(200, 54, 54, 0.2);
	padding: 20px;
	text-align: justify;
	font-size: 14px;
	color: #F2EAEA;
}

.torneios{
	height: 142px;
	width:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(200, 54, 54, 0.2);
	padding: 5px;
	text-align: left;
	font-size: 14px;
	color: #F2EAEA;
	margin-bottom:10px;
}

.torneios a{
	color: #F2EAEA;
	text-decoration: none;
	}
	
.torneios a:HOVER {
	text-decoration: underline;
}

.ver_torneio{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size:18px;
	display:block; 
	width:100px; 
	height:25px; 
	padding:5px 0 0 0; 
	background:url(../images/nav.png) no-repeat 0 0; 
	text-align:center;
	color:#fff; 
	text-decoration:none;
}
.ver_torneio:hover{
	background:url(../images/nav-ov.png) no-repeat 0 0;
	text-shadow:0 0 20px #ff0018;
	cursor:pointer;
}
.logo-right{ 
	width:50%; 
	float:left;
	margin-top:10px;
	padding-top:109px;
	font-size: 30px;
}
#tabela_torneios{
	width:100%;
	text-align: center;
    border-collapse: collapse;
}
.footer_left{
	float: left; 
	width: 490px;
}
.footer_left a{
	color: #ffffff;
	text-decoration: none;
}
.footer_right{
	width: 490px;
	float:right;
	
}
.footer_right a{
	color: #ffffff;
	text-decoration: none;
}

#call_32{
	margin-top:2px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 150px;
	height: 150px;
	background: #0094ff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.footer_img_texto{
	overflow:hidden;
}

.footer_img_texto a{
	color: #666256;
	text-decoration: none;
}

.footer_img_texto_right{
	height:40px;
	float:right;
	padding-top:15px;
}

.footer_img_texto_left{	
	float:right;
}

.suporte_left{
	float: left;
	width: 470px;
}

.suporte_right{
	float: right;
	width: 470px;
}

.form-control{
    display: block;
    width: 350px;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-control-textarea{
    display: block;
    min-width: 350px;
    max-width: 350px;
    min-height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    -moz-user-select: none;
}

.alert {
    height:10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.alert-info {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
}
/* Linhas dos Torneios */
.linha1{
    background: rgba(208, 208, 208, 0.2);
    padding: 2px;
}

.linha2{
    padding: 2px;
}

.btn_jogue_agora{
    cursor: pointer;
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 320px;
    background-color:#F2EAEA;
    color: #2D0000;
    font-size: 25px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn_jogue_agora:hover{
    background-color:#2D0000;
    color: #F2EAEA;
}

#prevBtn a{
    text-align: center;
    text-decoration: none;
    color: #F2EAEA;
}

#nextBtn a{
    text-align: center;
    text-decoration: none;
    color: #F2EAEA;
}