<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Real Poker Brasil</title>
	<!-- Carrega jQuery -->
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<!-- Carrega css -->
	<link href="<%URLPADRAO%>html/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%URLPADRAO%>html/slider/engine1/style.css" rel="stylesheet" type="text/css" />
	<!-- Carrega API Skype -->
	<script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
    <!-- Slider -->
    <script src="<%URLPADRAO%>html/js/easySlider1.7.js?"<?php echo microtime()?></script>
        <script type="text/javascript">
		$(document).ready(function(){	
			$("#eslaider").easySlider({
				auto: true, 
				continuous: true,
                speed: 1000,
                prevText: "<< |",
                nextText: ">>"
			});
		});	
	</script>
</head>
<body>
	<div id="main">
		<div class="header">
	    	<div class="logo">
	    		<a href="<%URLPADRAO%>">
	    			<img src="<%URLPADRAO%>/html/images/logo.png" alt="" />
	    		</a>
	    	</div>
	    	<div class="logo-right">
	    	<center>Jogadores Online: <%USUARIOS%><br><br></center>
	    	</div>
	        <div class="navigation">
	        	<ul>
	            	<li><a href="<%URLPADRAO%>poker">Poker</a></li>
	                <li><a href="<%URLPADRAO%>poker-live">Poker Live</a></li>
	                <li><a href="<%URLPADRAO%>promocoes">Promo&#231;&#245;es</a></li>
	                <li><a href="<%URLPADRAO%>jogue-agora">Jogue Agora</a></li>
	                <li><a href="<%URLPADRAO%>torneios">Torneios</a></li>
	                <li class="nosapce"><a href="<%URLPADRAO%>suporte">Suporte</a></li>
	            </ul>
	        </div>
	    </div>
	    <div class="details_holder">
	    	<%CONTEUDO%>
	    </div>
	</div>
	<div class="footer_holder">
		<div class="footer">
    		<div class="footer_image">
	    		<div class="footer_left">
	    			<Strong style="font-size: 18px;">Links &Uacute;teis</Strong>
	    			<center style="font-size: 16px;"><hr></hr>
	    				<a href="<%URLPADRAO%>poker">Poker</a><br>
	    				<a href="<%URLPADRAO%>poker-live">Poker Live</a></br>
	    				<a href="<%URLPADRAO%>saques-e-depositos" style="color:#33CC00;">Saques e Dep&oacute;sitos</a></br>
	    				<a target="_blank" href="http://jogobrasil.com/www/content.php?page=rules&rls=3&lg=pt">Jogo Respons&aacute;vel</br>
	    				<a href="<%URLPADRAO%>suporte">Contato/Suporte</a></br><hr></hr>
	    			</center>
	    		</div>
	    		<div class="footer_right"><strong style="font-size: 18px;"> <a>Suporte 24h</a></strong>
	    			<center><div id="call_32">
					   <script type="text/javascript">
					        Skype.ui({
					            name: "chat",
					            element: "call_32",
					            participants: ["contato.realbeatsite"],
					            imageSize: 32,
					            imageColor: "white"
					        });
					    </script>
					</div></center>
				</div>
    		</div>
        	<div class="footer_link">
        		<center><div class="footer_img_texto">
        			<!-- <div class="footer_img_texto_right"> -->
        				<a target="_blank" href="http://validate.cyberluck.com/validate/4c56b60d-34f0-4663-95a8-67780a00002a">Jogobrasil operates under the License No. 1668/JAZ issued to Curacao eGaming (Cyberluck Curacao N.V.) Authorized and Regulated by the Government of Curacao.</a> <br /><br /><br />
        			
        			<!-- <div class="footer_img_texto_left">
        			<a href="http://validate.cyberluck.com/validate/4c56b60d-34f0-4663-95a8-67780a00002a">
        			<img src="<%URLPADRAO%>html/images/footer-ico.jpg"></a> 
        			</div> -->
        		</div></center>
        		<img src="<%URLPADRAO%>html/images/footer-img.png" alt="" />
        	</div>
    	</div>
    </div>
    <!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9180-263-10-8643');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9180-263-10-8643/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
</body>
</html>
