<div style="overflow: hidden;" class="conteudo">
<center><h1>Contato e Suporte</h1><br /></center><hr />
	<div class="suporte_left">
		<form name="input" action="" method="post">
		<center><table border="0"><%MSG%>
			<tr>
				<th colspan="2">
					<center style="margin-bottom: 2px;font-size: 18px;">Envie-nos uma Mensagem!</center>
				</th>
			</tr>
            
			<tr>
				<td>
					<input type="text" class="form-control" name="nome" placeholder="Nome">	
				</td>
			<tr>	
				<td>
					<input type="text" class="form-control" name="email" placeholder="Email">	
				</td>
			</tr>
			<tr>	
				<td>
					<textarea class="form-control-textarea" name="mensagem" placeholder="Mensagem"></textarea>	
				</td>
			</tr>
			<tr>
			<td colspan="2">
				<center><input type="submit" class="btn" value="Enviar"></center>
				<input type="hidden" name="acao" value="acao">
			</td>
			</tr>
		</table></center>
		</form>
	</div>
	<div class="suporte_right">
		<Center><table border="0">
			<tr>
				<th colspan="2">
					<center style="margin-bottom: 2px;font-size: 18px;">Entre em Contato!</center>
				</th>
			</tr>
			<tr>
			<th style="color:#0094FF;" >Skype:</th>
				<td>
					contato.realbetsite
				</td>
			<tr>
			<th>Email 01:</th>
				<td>
					contato@realbetsite.com.br
				</td>
			</tr>
			<tr>
			<th>Email 02:</th>	
				<td>
					contato@exemplo.com.br	
				</td>
			</tr>
		</table></Center>
	</div>
</div>