<tr style="font-size: 14px;" class="<%CLASSE%>">
	<td style="width:420px"><%NOME%></td>
	<td style="width:130px"><%DATA%></td>
	<td style="width:130px"><%INSCRITOS%></td>
	<td style="width:130px">&euro;<%PREMIACAO%></td>
	<td style="width:130px"><%STATUS%></td>
</tr>